.drawer {
  height: 100%;
  background-color: transparent;

  .logo-bg {
    background-image: url('../../../assets/logo.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }

  ::ng-deep .mat-drawer-container {
    height: 100%;
    background-color: #d3d3d3eb;
  }
}
