<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Input {{title}}</mat-label>
    <input type="text"
           placeholder="Pick one"
           aria-label="Number"
           matInput
           [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of [1,2,3,4,5,6,7,8]" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>    

