<div class="container h-100vh">
    <div class="row m-0 align-items-center h-100">
        <div class="col-lg-8 col-xl-8 col-sm-12 col-md-6">
            <img src="../../../assets/logo.png" class="w-100" alt="">
        </div>
        <div class="col-lg-4 col-xl-4 col-sm-12 col-md-6">
            <div class="login-container">
                <div class="login-content">
                    <mat-card>
                        <mat-toolbar class="login-toolbar" *ngIf="signIn">Login</mat-toolbar>
                        <mat-toolbar class="login-toolbar" *ngIf="!signIn">Cadastro</mat-toolbar>
                        <form [formGroup]="loginForm" (submit)="onSubmit()">
                            <mat-form-field>
                                <mat-icon matPrefix class="form-icon">person_outline</mat-icon>
                                <input autofocus type="text" matInput placeholder="E-mail" formControlName="email">
                            </mat-form-field>
                    
                            <mat-form-field>
                                <mat-icon matPrefix class="form-icon">lock_outline</mat-icon>
                                <input type="password" autocomplete="false" matInput placeholder="Senha" formControlName="password">
                            </mat-form-field>
                    
                            <mat-form-field *ngIf="!signIn">
                                <mat-icon matPrefix class="form-icon">phone</mat-icon>
                                <input mask="(00) 00000-0000" type="text" autocomplete="false" matInput placeholder="Celular" formControlName="phone">
                            </mat-form-field>
                    
                            <button type="submit" mat-raised-button color="primary">Confirmar</button>
                        </form>
                        <button type="submit" mat-raised-button color="warn" *ngIf="signIn" 
                        (click)="signIn = false;loginForm.reset()">Cadastre-se</button>
                        <button type="submit" mat-raised-button color="warn" *ngIf="!signIn" 
                        (click)="signIn = true;loginForm.reset()">Voltar</button>
                    <br>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>    