.login-container {
  margin-top: 20px;
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
}

.login-content {
  width: 100%;
  display: block;
  margin: 0 auto;
  height: 100%
}

.login-toolbar {
  justify-content: center;
  background-color: white;
}

.form-icon {
  position: relative;
  bottom: -5px;
}

.mat-form-field {
  width: 100%;
  display: block;
}

.mat-raised-button {
  width: 50%;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 15px;
}
